@model MyHome.Web.ViewModels.Property.PropertiesListViewModel


<div class="row">
    <div class="col-md-10">
        <div class="row">
            @foreach (var list in this.Model.Properties)
            {
                <div class="card col-md-5">
                    <img class="card-img-top" src="@list.ImageFolderURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@list.Title</h5>
                        <p class="card-text">@list.Price - @list.Type </p>
                        <a style="margin-bottom: 5px" asp-controller="Details" asp-action="Property" asp-route-id="@list.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="row col-sm-8" style="justify-content:center; margin-left:15px">
   <partial name="_PaginationView" model="@Model" />
</div>

<style>
    .card-img-top {
        height:250px;
        width:100%;
    }

    .card{
        margin-bottom:25px;
        margin-right:1rem;
    }
</style>
